${runner_git_env_prefix} SOURCE_PR='' SOURCE_IAC_BRANCH='${azure_only_source_branch}' SOURCE_IAC_REPOSITORY_URL='${default_iac_repository_url}' IAC_REPOSITORY_URL='${default_iac_repository_url}' DEFAULT_BRANCH='${default_branch}' WORKFLOW_RUN_ID='{{workflow_run_id}}' DBSPLIT_EMBEDDED=1 bash ${script_pack_preload_dir}/run-destination-stage.sh azure-source-fetch '{{workflow_run_id}}'
