WORKFLOW_RUN_ID='{{workflow_run_id}}' DBSPLIT_EMBEDDED=1 DEST_HARDEN_PARALLELISM='${dest_harden_parallelism}' bash ${script_pack_preload_dir}/run-destination-stage.sh azure-iac-harden '{{workflow_run_id}}'
