export WORKFLOW_RUN_ID='{{workflow_run_id}}' DBSPLIT_EMBEDDED=1 GOVERNANCE_OPA_MAX_GROUPS='0' NILE_GOVERNANCE_REPO='${nile_governance_repo_url}' NILE_GOVERNANCE_REF='${nile_governance_ref}' NILE_RULES_REPO='${nile_rules_repo_url}' NILE_RULES_REF='${nile_rules_ref}' ${runner_pack_entry_invoke} destination gcp-iac-governance-conform '{{workflow_run_id}}'
